@charset "utf-8";
a:hover {
	color: rgba(255,255,255,1.00);
}
header {
	font-family: Verdana, Geneva, sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
p, h2, h3{
color: rgba(146,146,146,1.00);
}
#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 150px;
}
#headerLinks {
	float: left;
	width: calc( 100% - 30px );
	text-align: right;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	background-color: rgba(208,207,207,1.00);
}
#headerLinks a {
	text-decoration: none;
	color: rgba(146,146,146,1.00);
	padding-left: 66px;
	font-size: 14px;
}
#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
#content .sidebar {
	font-family: Verdana, Geneva, sans-serif;
	color: rgba(146,146,146,1.00);
	float: left;
	width: 20%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	background-color: rgba(246,246,246,1.00);
	padding-top: 36px;
	height: 784px;
}
#content .mainContent {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}
#content .sidebar #menubar {
	text-align: left;
	color: rgba(146,146,146,1.00);
	position: relative;
	left: 0%;
}
#content .sidebar #search {
	width: 100%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: rgba(208,207,207,1.00);
	font-size: 14px;
	;
	margin-bottom: 21px;
}
#mainWrapper {
	width: 80%;
	padding-left: 10%;
}
.menu ul li {
	list-style-type: none;
	font-size: x-large;
	position: relative;
	left: -35px;
	padding-top: 12px;
}
#content .mainContent .productRow {
	overflow: auto;
	color: rgba(146,146,146,1.00);
}
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 23%;
	padding-bottom: 10%;
	height: 500px;
}
.productRow .productInfo .price {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 22px;
	position: relative;
	top: -20px;
}
.productRow .productInfo .productContent {
	position: relative;
	top: -37px;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(146,146,146,1.00);
	white-space: pre-wrap;
}
.productRow .productInfo .buyButton {
	position: relative;
	top: -48px;
	width: 84%;
	background-color: rgba(208,207,207,1.00);
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}
#mainWrapper footer {
	clear: both;
	overflow: auto;
	background-color: rgba(208,207,207,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-top: 2px;
	padding-left: 2px;
	text-align: center;
	padding-bottom: 2px;
	padding-right: 2px;
}
#mainWrapper footer div {
	width: 27%;
	float: left;
	padding-left: 4%;
	padding-right: 2%;
	color: rgba(255,255,255,1.00);
	text-align: justify;
}
footer a {
	color: rgba(146,146,146,1.00);
	display: block;
	text-decoration: none;
	text-align: center;
}

.productInfo div img {
	width: 100%;
}
.sidebar #menubar .menu ul li a {
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}
.sidebar #menubar .menu ul li a:hover {
	color: rgba(107,97,97,1.00);
	text-decoration: none;
}
#menubar .menu h2 {
	font-size: 14px;
}
#menubar .menu ul li a {
	font-size: 14px;
}
.sidebar #menubar .menu {
	margin-bottom: 29px;
}
footer .footerlinks {
	margin-top: -15px;
}

/* Media query for tablets */
@media screen and (max-width:700px) {
/* search field in sidebar */
#content .sidebar #search {
	display: none;
}
#content .sidebar {
	float: none;
	width: 100%;
	height: auto;
	overflow: auto;
	padding-left: 12%;
	padding-top: 0px;
}
#content .sidebar hr {
	display: none;
}
#content {
	position: relative;
	top: -22px;
	width: 100%;
	overflow: hidden;
}
#menubar .menu h2 {
	display: inline;
	font-size: medium;
	padding-right: 6%;
}
#menubar .menu ul {
	display: inline;
}
#menubar .menu ul li {
	display: inline;
	font-size: medium;
	padding-left: 0%;
	padding-right: 3%;
}
.sidebar #menubar .menu ul .notimp {
	display: none;
}
.sidebar #menubar .menu {
	width: 100%;
	text-align: center;
	position: relative;
	top: 16px;
}
#content .sidebar #menubar {
	position: relative;
	left: -7%;
	overflow: hidden;
	width: 95%;
	padding-top: 0px;
}
#mainWrapper #offer p {
	font-size: small;
}
#mainWrapper #content .mainContent {
	overflow: hidden;
	width: 95%;
	margin-top: 40px;
}
.productRow .productInfo .price {
	font-size: 19px;
}
.productRow .productInfo .productContent {
	font-size: 16px;
}
.productRow .productInfo .buyButton {
	font-size: 15px;
}
#mainWrapper footer .footerlinks {
	float: none;
	width: 100%;
	position: relative;
	top: 17px;
	clear: both;
	text-align: center;
	left: 0%;
	padding-bottom: 19px;
}
.footerlinks p a {
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline;
	padding-right: 35px;
}
#mainWrapper footer {
	padding-left: 16px;
	overflow: hidden;
}
/* Links in header */
header #headerLinks a {
	padding-left: 0px;
	padding-right: 30px;
}
/* Offer- Text banner */
#mainWrapper #offer {
	padding-left: 22%;
}
footer .footerlinks p {
	display: inline;
}
}

/*media query for small screen devices */
@media screen and (max-width:480px) {
/*Container for links in header */
#mainWrapper header #headerLinks {
	width: 100%;
	text-align: center;
	background-color: rgba(190,190,190,1.00);
	padding-bottom: 21px;
}
#mainWrapper header #logo {
	width: 100%;
	text-align: center;
}
header #headerLinks a {
	text-align: center;
	padding-right: 15px;
	padding-left: 0px;
}
#mainWrapper #offer {
	padding-left: 0px;
	text-align: center;
}
#content .sidebar #menubar {
	position: relative;
	left: -8%;
	text-align: center;
}
#menubar .menu h2 {
	width: 100%;
	display: block;
}
.mainContent .productRow .productInfo {
	width: 100%;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: -2%;
}
#mainWrapper footer div {
	width: 100%;
	margin-left: -16px;
	text-align: justify;
	padding-bottom: 16px;
	overflow: auto;
}
.menu ul {
	position: relative;
	padding-left: 24%;
}
#mainWrapper footer .footerlinks {
	padding-left: 8%;
}
#mainwrapper #content .mainContent {
	margin-top: -81px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
}
}